table {
    border-collapse: collapse;
}

.textareaInput {
    width: 90%;
}

#data table,
#data th,
#data td {
    border: 1px solid black;
    text-align: left;
    padding: 0.5em;
}

div.bodyDivs {
    display: inline-block;
    min-width: 48%;
    vertical-align: top;
}